@use '../../../public/styles/variables.sass'

#new-messages
  width: 60%
  height: 222px
  background: #e3e6e7
  border-radius: 10px
  overflow: hidden
  font-family: sans-serif
  font-size: 14px
  color: #333
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05)

.overlap-group
  display: flex
  flex-direction: column

#header
  background: #b8cbd1
  text-align: left
  padding: 10px
  font-weight: bold
  border-bottom: 1px solid #ccc
  border-top-left-radius: 10px
  border-top-right-radius: 10px

.message-item
  display: flex
  flex-direction: column
  padding: 15px
  border-top: 1px solid #d1d5d8
  background: #e3e6e7

.sender
  font-weight: bold
  margin-bottom: 2px

.message-preview
  font-size: 13px
  color: #444