@use '../../../public/styles/variables.sass'
body
  justify-content: center
  align-items: center

#loginForm
  margin: 50px
  width: 532px
  height: 660px
  min-height: 660px
  max-width: 532px
  min-width: 448px
  padding: 20px
  display: flex
  flex-direction: column
  align-items: center
  border-radius: 10px
  background-color: variables.$background-light-grey
  box-shadow:  variables.$strong-shadow
  h1
    color: variables.$accent-dark-gray
    letter-spacing: 2px
    font-size: 35px
  input
    width: 90%
    height: 55px
    background: none
    padding: 15px
    margin-top: 10px
    margin-bottom: 41px
    border: 1px solid variables.$accent-gray
    border-radius: 5px
    box-sizing: border-box
    &:focus
      outline: none
      border-color: variables.$accent-light-teal
  button
    width: 90%
    padding: 10px
    margin-top: 10px
    margin-bottom: 20px
    border-radius: 5px
    background-color: variables.$accent-deep-turquoise
    border: 1px solid variables.$accent-dark-gray
    color: #fff
    cursor: pointer
    box-sizing: border-box
    &:hover
      background-color: variables.$accent-dark-gray
      color: variables.$main-white
  p
    color: black
    height: 100%
    width: 100%
    font-size: 15px
    text-align: center
    margin-top: 32px
    .error-message
      display: none
  a
    color: black
    &:hover
      color: variables.$accent-light-teal