@use '../../../public/styles/variables.sass'

#studentDashboardHeader
  display: flex
  align-items: center
  justify-content: end

  h1
    font-size: 1.5rem
    color: variables.$main-white
    width: 50%

  img
    height: 24px

  .userName
    font-size: 1.2rem
    color: variables.$main-white
    margin-left: 20px

  button
    border: none
    width: 50px
    height: 50px
    background-color: variables.$accent-light-teal
    border-radius: 50px
    margin: 10px
    display: flex
    align-items: center
    justify-content: center