@use 'variables'

body
  margin: 0
  padding: 0
  font-family: variables.$main-font
  display: flex
  flex-direction: column
  align-items: center

@media screen and (min-width: 788px) // Large and Medium screens
  .logo-container
    padding: 0
    margin: 5px
    width: 100%
    height: auto
    display: flex
    align-items: center
    max-width: 427px
    #icon
      height: 78px
    #name
      height: 56px

@media screen and (max-width: 788px) // Mobile
  .logo-container
    padding: 0
    margin: 5px
    width: 100%
    height: auto
    display: flex
    align-items: center
    max-width: 427px
    #icon
      height: 78px
    #name
      height: 56px

#login-main

  display: flex
  flex-wrap: wrap
  flex-direction: row
  justify-content: center
  align-items: center